<!DOCTYPE >
<head>
	<h3 style="">Welcome to Expenses Maintaining System</h3>
</head>
<body>
	<p>
		<%= link_to 'Users', users_path %>
	</p>	
	<p>
		<%= link_to 'New User' , new_user_path %>
	</p>
	<!--
	<p>
			<%= link_to 'Inventories' , user_inventories_path(:user_id => '8') %>
		</p>-->
		
	<p>
		<%= link_to 'Inventories' , inventories_path %>
	</p>
		
</body>
